@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap');

$beige: #D5D2BF;
$brown: #EDE4C3;
$dark-brown: #9C9374;
$blue: #C3CABA;
$pink: #EBE1D5;
$green: #E8EECC;
$purple: #E5E1DE;

.beige {
  background: $beige;
}

.blue {
  background: $blue;
}

.pink {
  background: $pink;
}

.green {
  background: $green;
}

.purple {
  background: $purple;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  height: 100%;
}

body {
  // background-image: url(bg.png);
  // background-repeat: repeat;
  background: $beige;
  margin: 0;

  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 20pt;
}

.container {
  background: $brown;
  height: 60vmax;
  width: 80vmax;

  display: flex;
  justify-content: center;
}

.list {
  $middle-padding: 0.5rem;

  color: $dark-brown;
  overflow-y: scroll;
  list-style-type: none;

  &#starts {
    text-align: right;
    padding-right: $middle-padding;
    direction: ltr;
  }

  &#ends {
    padding-left: $middle-padding;
  }
}


.item {
}
